%h1= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = bootstrap_devise_error_messages!
  .form-group
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: 'form-control', required: true
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control', required: true
  .form-group
    = f.label :aadhar
    = f.number_field :aadhar, class: 'form-control', required: true
  .form-group
    = f.label :email
    = f.email_field :email, autocomplete: 'email', class: 'form-control', required: true
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
    - if @minimum_password_length
      /%small.form-text.text-muted= t('devise.shared.minimum_password_length', count: @minimum_password_length)
      %small.form-text.text-muted Length should be 8-70 characters and include: 1 uppercase, 1 lowercase, 1 digit and 1 special character
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control'
  .form-group
    = f.submit t('.sign_up'), class: 'btn btn-primary'
= render 'devise/shared/links'
