%p#notice= notice

%p
  %b Group:
  = @contact.group.name
%p
  %b Name:
  = @contact.name
%p
  %b Email:
  = @contact.email
%p
  %b Phone:
  = @contact.phone

= link_to 'Edit', edit_group_contact_path(@group, @contact)
\|
= link_to 'Back', group_contacts_path(@group)
