%p#notice= notice

%p
  %b Group:
  = @contact.group
%p
  %b Name:
  = @contact.name
%p
  %b Email:
  = @contact.email
%p
  %b Phone:
  = @contact.phone

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
