!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title ContactManagementSystem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      %a.navbar-brand{:href => "#"} Inmar
      %ul.navbar-nav
        %li.nav-item{class: active_link_class('groups')}
          = link_to 'Groups', groups_path, class: 'nav-link'
        %li.nav-item{class: active_link_class('contacts')}
          = link_to 'Contacts', all_contacts_path, class: 'nav-link'
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item
          %span.navbar-text
            = current_employee.email
            |
        %li.nav-item
          = link_to 'Sign out', destroy_employee_session_path, method: :delete, class: 'nav-link'

    .container-fluid
      %p.alert= alert
      = yield
